Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the 
range of 1 to 25.

ans - def test() is used to create a function.

In [17]:
l=list(range(1,26))

In [18]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [22]:
def test1(l):
    l1=[]
    for i in l:
        if i%2 != 0:
            l1.append(i)
    return l1

In [23]:
test1(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs 
to demonstrate their use.

In [ ]:
ans - *args is use to get the given data

In [25]:
def test2(*args):
    return args

In [27]:
test2(12,34+5j,4,44,675,'aniket', 'ranjeet', 24.76)

(12, (34+5j), 4, 44, 675, 'aniket', 'ranjeet', 24.76)

*kwargs is use to get values in dict data type

In [32]:
def test3(**kwargs):
    return kwargs

In [37]:
test3(a  ='aniket', b = 12,c  = 2894 , d =' english')

{'a': 'aniket', 'b': 12, 'c': 2894, 'd': ' english'}

Q3.  What is an iterator in python? Name the method used to initialise the iterator object and the method
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14,
16, 18, 20].

ans - an iterator is an object that is use to loop through items in list, tuple,dict,set and string

Iter() method is used to initialize the iterator object

next() method is used to iterate over the iterable objects and get elemants form iter

In [44]:
l = [ 2,4,6,8,10,12,14,16,18,20]

In [46]:
c = iter(l)

In [49]:
for i in range(5):
    print(next(c))

2
4
6
8
10

Q4.  What is a generator function in python? Why yield keyword is used? Give an example of a generator
function.

ans - a generator function returns iterator and not get memory in pc means when we
      need to produce large no of data which we don't want to store in memory

The yield statement returns a generator object to the one who calls the function which contains yield and yield function is also like return

In [55]:
def nextSquare():
    i = 1
    while True:
        yield i*i
        i += 1

In [58]:
for num in nextSquare():
    if num > 100:
        break
    print(num)

1
4
9
16
25
36
49
64
81
100

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the
first 20 prime numbers.

In [4]:
def test1():
    l1 =[]
    for i in range(1,1001):
        if i%2 != 0:
            yield i

In [5]:
list(test1())

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 391,
 393,
 395,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 461,
 463,
 465,
 467,
 469,
 471,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499,
 501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549,
 551,
 553,
 555,
 557,
 559,
 561,
 563,
 565,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 581,
 583,
 585,
 587,
 589,
 591,
 593,
 595,
 597,
 599,
 601,
 603,
 605,
 607,
 609,
 611,
 613,
 615,
 617,
 619,
 621,
 623,
 625,
 627,
 629,
 631,
 633,
 635,
 637,
 639,
 641,
 643,
 645,
 647,
 649,
 651,
 653,
 655,
 657,
 659,
 661,
 663,
 665,
 667,
 669,
 671,
 673,
 675,
 677,
 679,
 681,
 683,
 685,
 687,
 689,
 691,
 693,
 695,
 697,
 699,
 701,
 703,
 705,
 707,
 709,
 711,
 713,
 715,
 717,
 719,
 721,
 723,
 725,
 727,
 729,
 731,
 733,
 735,
 737,
 739,
 741,
 743,
 745,
 747,
 749,
 751,
 753,
 755,
 757,
 759,
 761,
 763,
 765,
 767,
 769,
 771,
 773,
 775,
 777,
 779,
 781,
 783,
 785,
 787,
 789,
 791,
 793,
 795,
 797,
 799,
 801,
 803,
 805,
 807,
 809,
 811,
 813,
 815,
 817,
 819,
 821,
 823,
 825,
 827,
 829,
 831,
 833,
 835,
 837,
 839,
 841,
 843,
 845,
 847,
 849,
 851,
 853,
 855,
 857,
 859,
 861,
 863,
 865,
 867,
 869,
 871,
 873,
 875,
 877,
 879,
 881,
 883,
 885,
 887,
 889,
 891,
 893,
 895,
 897,
 899,
 901,
 903,
 905,
 907,
 909,
 911,
 913,
 915,
 917,
 919,
 921,
 923,
 925,
 927,
 929,
 931,
 933,
 935,
 937,
 939,
 941,
 943,
 945,
 947,
 949,
 951,
 953,
 955,
 957,
 959,
 961,
 963,
 965,
 967,
 969,
 971,
 973,
 975,
 977,
 979,
 981,
 983,
 985,
 987,
 989,
 991,
 993,
 995,
 997,
 999]

In [6]:
k = test1()

In [7]:
for i in range(20):
    print(next(k))

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [3]:
a= 0
b= 1
count = 0
while count <=10:
    print (a)
    c = a + b
    a = b
    b = c
    count = count + 1

0
1
1
2
3
5
8
13
21
34
55

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.

Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [4]:
s = 'pwskills'

In [5]:
[i for i in s ]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q8. Write a python program to check whether a given number is Palindrome or not using a while loop

In [38]:
n = input("Enter any number :")
i = 0
for i in range(len(n)):
    if n[i]!=n[-1-i]:
        print('It is not a palindrome')
        break
else:
    print('It is a palindrome')

Enter any number : 678

It is not a palindrome

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.

Note: Use a list comprehension to create a list from 1 to 100 and use another List comprehension to filter
out odd numbers.

In [23]:
k = [ i for i in range(1,101)]

In [24]:
print(k)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [25]:
[i for i in k  if i%2 != 0 ]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]