Q1.  Explain with an example each when to use a for loop and a while loop

 Ans - for loop geven the data from list and it does not check condition before execution

In [1]:
l= [43,56,578,79,78,452,543,574]

In [2]:
for a in l:
    print(a)

43
56
578
79
78
452
543
574

while loop is check the condition before execution , if the condition false the while loop
 stop working

In [3]:
a = 1
 
while a <=25:
    print(a)
    a = a +1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for 
and while loop

sum of the first 10 natural numbers using for loop

In [4]:
a= 0
for i in range(0,11):
    a = a +i
print(a)

55

sum of the first 10 natual number using while loop

In [5]:
a = 0
i = 1

while i <= 10:
    a = a + i
    i = i + 1
print(a)

55

product of first 10 natural nummber using for loop

In [9]:
l = range(1,11)
prod = 1

for i in l :
    prod = prod * i
    print(prod)

1
2
6
24
120
720
5040
40320
362880
3628800

product of first 10 natural number by using while loop

In [8]:
n = 10

i= 0 
p = 1
while i < n:
    i = i +1
    p= p*i
    
    print(p)

1
2
6
24
120
720
5040
40320
362880
3628800

Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per 
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will 
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.


You are required to take the units of electricity consumed in a month from the user as input.


Your program must pass this test case: when the unit of electricity consumed by the user in a month is 
310, the total electricity bill should be 2250.

In [10]:
unit = int(input("Enter your unit: "))
if unit <= 100:
    bill = unit * 4.5
elif unit >= 101 and unit <= 200:
    bill = 346 + (unit - 100) * 6
elif unit >= 201 and unit <= 300:
    bill =  1050 + (unit - 200) * 10
else:
    bill = 2050 + (unit - 300) * 20
print("Bill Per Unit:",bill)

Enter your unit:  310

Bill Per Unit: 2250

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print 
that list.

In [12]:
l2 = []
for i in range(1,101):
    a= i**3
    if a %4== 0 or a %4== 0:
        l2.append(a)
l2

[8,
 64,
 216,
 512,
 1000,
 1728,
 2744,
 4096,
 5832,
 8000,
 10648,
 13824,
 17576,
 21952,
 27000,
 32768,
 39304,
 46656,
 54872,
 64000,
 74088,
 85184,
 97336,
 110592,
 125000,
 140608,
 157464,
 175616,
 195112,
 216000,
 238328,
 262144,
 287496,
 314432,
 343000,
 373248,
 405224,
 438976,
 474552,
 512000,
 551368,
 592704,
 636056,
 681472,
 729000,
 778688,
 830584,
 884736,
 941192,
 1000000]

Q5.  Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [13]:
str = "I want to become a data scientist"
vowel = 0

for i in str:
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
      
        vowel = vowel + 1

print(vowel)

11