Q1. Explain Class and Object with respect to Object-Oriented Programming. Give a suitable example.

ans - Almost everything in Python is an object, with its properties and methods. 
A Class is like an object constructor, or a "blueprint" for creating objects.

In [5]:
class bike:
    name = ' '
    gear = 0

In [6]:
bike1= bike()

In [8]:
bike1.gear = 11
bike1.name = "MoBike"

In [10]:
print(f"Name: {bike1.name}, Gears: {bike1.gear} ")

Name: Mountain Bike, Gears: 11

Q2. Name the four pillars of OOPs.

ans - OOPs four pillars are Inheritance, Polymorphism, Encapsulation and Abstraction.

Q3. Explain why the __init__() function is used. Give a suitable example.

ans - __init__ is a special python method that runs whenever a new object is created.
     These types of functions are used to initialize the attributes of that class,
    his type of function is also known as the constructor function. A constructor 
    function is a function that is called every time a new class object is created.

In [11]:
class trip:
    
    def __init__(self,country,from_country,flight ,cost):
        self.country1 = country
        self.from_country1 = from_country
        self.flight1 = flight
        self.cost1 = cost
        
    def trip_details(self):
        return self.country1,self.from_country1,self.flight1,self.cost1

In [12]:
anik = trip('usa','India','Air India',120000)

In [13]:
anik.trip_details()

('usa', 'India', 'Air India', 120000)

In [39]:
class pwskills34:
    
    def __init__(ani,course,time,cost,mentor):
        
        ani.course =course
        ani.time = time
        ani.cost = cost
        ani.mentor = mentor
    
    def return_student_details(ani):
        return ani.course,ani.time,ani.cost,ani.mentor

In [41]:
aniket = pwskills34('data_science', 3,3500,'sudhanshu')

In [43]:
aniket.return_student_details()

('data_science', 3, 3500, 'sudhanshu')

In [45]:
aniket.time

3

In [46]:
aniket.mentor

'sudhanshu'

Q4. Why self is used in OOPs?

ans- The use of self makes it easier to distinguish between instance attributes 
     (and methods) from local variables. 
    The self variable is used to represent the instance of the class
    which is often used in object-oriented programming. It works as 
    a reference to the object. Python uses the self parameter to 
    refer to instance attributes and methods of the class

Q5. What is inheritance? Give an example for each type of inheritance.

ans - Inheritance allows us to define a class that inherits all the methods and properties 
     from another class. Parent class is the class being inherited from, also called base class.
   Child class is the class that inherits from another class, also called derived class.

single inheritance

In [2]:
class dad:
    
    def dad_name(self):
        return ' rajesh'

In [3]:
class son(dad):
    
    pass

In [4]:
son_obj = son()

In [5]:
son_obj.dad_name()

' rajesh'

Multiple inheritance

In [7]:
class tesla_X1:
    
    def cost_tesla_X1(self):
        return '50 lakhs'

In [8]:
class tesla_roadstor:
    
    def cost_tesla_roadstor(self):
        return ' 80 lakhs'

In [9]:
class tesla(tesla_X1, tesla_roadstor):
    
    pass

In [10]:
tes = tesla()

In [11]:
tes.cost_tesla_X1()

'50 lakhs'

In [12]:
tes.cost_tesla_roadstor()

' 80 lakhs'

multilevel inheritance

In [25]:
class google:
    
    def valuation_google(self):
        return ' 11.2 trillion'

In [26]:
class youtube(google):
    
    def valuation_youtube(self):
        return ' 8 trillion'

In [27]:
class gmail(youtube):
    
    def valuation_gmail(self):
        return ' 6 trillion'

In [28]:
class google_pixel(gmail):
    
    def valuation_pixel(self):
        return ' 4.7 trillion'

In [29]:
class alphabet(google_pixel):
    
    def valuation_alphabet(self):
        return ' 29 trillion'

In [30]:
alp= alphabet()

In [31]:
alp.valuation_alphabet()

' 29 trillion'

In [32]:
alp.valuation_gmail()

' 6 trillion'

In [33]:
alp.valuation_youtube()

' 8 trillion'

In [34]:
alp.valuation_pixel()

' 4.7 trillion'

Hierarchical Inheritance:

In [60]:
class father_name:
    
    def fathersalary(self):
        return ' 10 lakhs'

In [61]:
class rohit(father_name):
    
    def salary(self):
        return ' 20 thousand per month'

In [62]:
class mohit(father_name):
    
    def salary(self):
        return '36 thousand per month'

In [63]:
mo = mohit()

In [64]:
mo.salary()

'36 thousand per month'

In [65]:
mo.fathersalary()

' 10 lakhs'

In [66]:
ro = rohit()

In [67]:
ro.salary()

' 20 thousand per month'

In [68]:
ro.fathersalary()

' 10 lakhs'

Hybrid Inheritance:

In [14]:
class tata_cult:
    
    def tata_value(self):
        return ' 600 biilion'

In [15]:
class bata(tata_cult):
    
    def bata_value(self):
        return '5 billion'

In [16]:
class meta(bata):
    
    def meta_value(self):
        return '1 trillion'

In [17]:
class School:
	def func1(self):
		print("Shivam Public School ")

In [18]:
class Student1(School):
	def func2(self):
		print("Govt.Boys Sr.Sec school ")

In [19]:
class Student2(Student1):
	def func3(self):
		print("Ganga internation school.")

In [20]:

class Student3(Student1, School):
	def func4(self):
		print("Co-ed  school of learning")

In [21]:
object = Student3()

In [22]:

object.func1()

Shivam Public School

In [23]:
object.func2()

Govt.Boys Sr.Sec school

In [24]:
object.func4()

Co-ed  school of learning