Q1. What is a database? Differentiate between SQL and NoSQL databases.

ans - A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient. The data can then be easily accessed, managed, modified, updated, controlled, and organized. Most databases use structured query language (SQL) for writing and querying data.

SQL, which stands for “Structured Query Language,” is the programming language that’s been widely used in managing data in relational database management systems (RDBMS) since the 1970s. In the early years, when storage was expensive, SQL databases focused on reducing data duplication.

Fast-forward to today, and SQL is still widely used for querying relational databases, where data is stored in rows and tables that are linked in various ways. One table record may link to one other or to many others, or many table records may be related to many records in another table. These relational databases, which offer fast data storage and recovery, can handle great amounts of data and complex SQL queries.

NoSQL is a non-relational database, meaning it allows different structures than a SQL database (not rows and columns) and more flexibility to use a format that best fits the data. The term “NoSQL” was not coined until the early 2000s. It doesn’t mean the systems don’t use SQL, as NoSQL databases do sometimes support some SQL commands. More accurately, “NoSQL” is sometimes defined as “not only SQL.”

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ans - Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases.

CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

ALTER: This is used to alter the structure of the database.

ALTER TABLE Customers
ADD Email varchar(255);

DROP: This command is used to delete objects from the database.

DROP TABLE Persons;

TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.

TRUNCATE TABLE City ;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML(Data Manipulation Language): This SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.

INSERT : It is used to insert data into a table.

INSERT INTO Student VALUES 
('5','HARSH','WEST BENGAL',
'9662348929','19');


UPDATE: It is used to update existing data within a table.

UPDATE Student SET NAME = 'PRATIK' WHERE Age = 20;

DELETE : It is used to delete records from a database table.

DELETE FROM GFG_EMPLOyees WHERE NAME = 'Rithvik';

Q4. What is DQL? Explain SELECT with an example.

ans - DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement.

SELECT: It is used to retrieve data from the database.

SELECT ROLL_NO, NAME, AGE FROM Student;

Q5. Explain Primary Key and Foreign Key

ans  - A primary key uniquely identifies a row in a table, while a foreign key is used to link two tables together by referencing the primary key of the related table. The most important difference that you should note here is that a primary key cannot have a NULL value, whereas a foreign key can accept NULL values.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE TEST;")

mydb.close()

A cursor in SQL is a database object stored in temp memory and used to work with datasets. You can use cursors to manipulate data in a database, one row at a time. A cursor uses a SQL SELECT statement to fetch a rowset from a database and then can read and manipulate one row at a time

 EXECUTE command in standard SQL is used to execute stored procedures and query strings in database servers. For the uninitiated, a stored procedure is a SQL code that can be saved and reused later. A stored procedure can be system defined or user-defined.

Q7. Give the order of execution of SQL clauses in an SQL query.

Order	Clause	Function
1	   FROM	    Tables are joined to get the base data.
2	   WHERE	The base data is filtered.
3	   GROUP BY	The filtered base data is grouped.
4      HAVING	The grouped base data is filtered.
5	   SELECT	The final data is returned.
6	   ORDER BY	The final data is sorted.
7	   LIMIT	The returned data is limited to row count.