Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

ans - MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

Storing large volumes of data without structure. A NoSQL database doesn’t limit storable data types. Plus, you can add new types as business needs change.

Using cloud computing and storage. Cloud-based storage is a great solution, but it requires data to be easily spread across multiple servers for scaling. Using affordable hardware on-site for testing and then for production in the cloud is what NoSQL databases are designed for

Rapid development. If you are developing using modern agile methodologies, a relational database will slow you down. A NoSQL database doesn’t require the level of preparation typically needed for relational databases.

Q2. State and Explain the features of MongoDB.

ans - features of MongoDB :-

Schema-less Database: It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

Aggregation: It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [51]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [52]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [53]:
db =  client['aniket']

In [54]:
data  = { "name" : 'aniket',
         "age " : 25,
         "from " : "delhi",
         "course" : "data science",
         "level":"beginner"
        }

In [55]:
my_coll = db["record"]

In [56]:
my_coll.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [57]:
data1 = { "name " : " rohit",
         "class" : 12,
         "roll_no "  : 1234,
         "address" : "delhi",
         "sub": ["political " , "science" ,"maths", 'hindi',"english"]}

In [58]:
my_coll.insert_one(data1)

In [59]:
data2 = [{ "name" : "salman khan" ,"total movies" : 89 , "net worth" : " 300 million"},
        { "name" : "srk" ,"total movies" : 80 , "net worth" : " 800 million"},
        { "name" : "saif ali khan" ,"total movies" : 39 , "net worth" : " 200 million"},
        { "name" : "aamir khan" ,"total movies" : 45 , "net worth" : " 219 million"},
        { "name" : "irfan khan" ,"total movies" : 35 , "net worth" : " 100  million"},
        { "name" : "varun dhawan" ,"total movies" : 13 , "net worth" : " 30 million"},
        { "name" : "sidharth malothra" ,"total movies" : 8 , "net worth" : " 20 million"},
        { "name" : "alia bhatt" ,"total movies" : 23 , "net worth" : " 30  million"},
        { "name" : "ranbir kapoor" ,"total movies" : 31 , "net worth" : " 80 million"},
        { "name" : "ranvir singh" ,"total movies" : 19 , "net worth" : " 60 million"}]

In [60]:
my_coll.insert_many(data2)

In [61]:
my_coll.find_one()

{'_id': ObjectId('64291d3aaec513e4742ee028'),
 'name': 'aniket',
 'age ': 25,
 'from ': 'delhi',
 'course': 'data science',
 'level': 'beginner'}

In [62]:
for i in my_coll.find({"total movies" : {"$gte" : 30}}):
    print(i)

{'_id': ObjectId('64291d3caec513e4742ee02c'), 'name': 'saif ali khan', 'total movies': 39, 'net worth': ' 200 million'}
{'_id': ObjectId('64291d3caec513e4742ee02d'), 'name': 'aamir khan', 'total movies': 45, 'net worth': ' 219 million'}
{'_id': ObjectId('64291d3caec513e4742ee02e'), 'name': 'irfan khan', 'total movies': 35, 'net worth': ' 100  million'}
{'_id': ObjectId('64291d3caec513e4742ee032'), 'name': 'ranbir kapoor', 'total movies': 31, 'net worth': ' 80 million'}
{'_id': ObjectId('6429266faec513e4742ee037'), 'name': 'salman khan', 'total movies': 89, 'net worth': ' 300 million'}
{'_id': ObjectId('6429266faec513e4742ee038'), 'name': 'srk', 'total movies': 80, 'net worth': ' 800 million'}
{'_id': ObjectId('6429266faec513e4742ee039'), 'name': 'saif ali khan', 'total movies': 39, 'net worth': ' 200 million'}
{'_id': ObjectId('6429266faec513e4742ee03a'), 'name': 'aamir khan', 'total movies': 45, 'net worth': ' 219 million'}
{'_id': ObjectId('6429266faec513e4742ee03b'), 'name': 'irfan khan', 'total movies': 35, 'net worth': ' 100  million'}
{'_id': ObjectId('6429266faec513e4742ee03f'), 'name': 'ranbir kapoor', 'total movies': 31, 'net worth': ' 80 million'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

ans -  find() method in MongoDB selects documents in a collection or view and returns a cursor to the selected documents.

In [63]:
for i in  my_coll.find({"name": "salman khan" }):
    print(i)

{'_id': ObjectId('6429266faec513e4742ee037'), 'name': 'salman khan', 'total movies': 89, 'net worth': ' 300 million'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

ans - The sort() method specifies the order in which the query returns the matching documents from the given collection.

In [69]:
db.my_coll.find().sort([("name", 1), ("total movies", -1)])

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one() is used to delete single document

In [70]:
my_query = {'name' : "salman khan"}

In [71]:
my_coll.delete_one(my_query)

delete_many is used to delete many document

In [72]:
query = {'total movies' : {"$gte" : 80}}

In [73]:
my_coll.delete_many(query)

drop()  this command is used to delete objects from the database.drop() method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes associated with the dropped collections.

In [74]:
db.my_coll.drop()